.main{
    background: linear-gradient(to right, #F25757, #61E8E1);
    text-shadow: .1em .1em 6px;
}
.stuff{
    -webkit-column-count:3;
    column-count:3;
    background-color:#F2CD60;
    color: #EAF2E3;
}
#a:visited{
    color:red;
}
#b:visited{
    color:red;
}
#c:visited{
    color:red;
}
#a:hover{
    font-size:2em;
}
#b:hover{
    font-size:2em;
}
#c:hover{
    font-size:2em;
}
#close{
    font-size:10;
}